<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.mapper.OrderDao">
<resultMap type="com.bean.Myshop_order" id="Myshop_orderMap">
<result column="order_did" property="order_id"/>
<result column="order_number" property="order_number"/>
<result column="order_amount" property="order_amount"/>
<result column="order_date" property="order_date"/>
<result column="finished_time" property="finished_time"/>
<result column="order_status" property="order_status"/>
<result column="payment_status" property="payment_status"/>
<result column="distribution_state" property="distribution_state"/>
<result column="pay_way" property="pay_way"/>
<result column="distribution_mode" property="distribution_mode"/>
<association property="myshop_member" column="member_id" select="com.mapper.Myshop_memberDao.getByID"></association>
<association property="myshop_receive" column="receive_id" select="com.mapper.Myshop_receiveDao.getByID"/>
</resultMap>

<!-- <resultMap type="com.zh.model.Product" id="proMap"> -->
<!--  <id column="pid" property="pid"/> -->
<!-- <result column="pname" property="pname"/> -->
<!-- <result column="pimg" property="pimg"/> -->
<!-- <result column="pprice" property="pprice"/> -->
<!-- <result column="VIPprice" property="VIPprice"/> -->
<!-- <result column="pdesc" property="pdesc"/> -->
<!-- <association property="proType" column="tid" select="com.zh.dao.ProductTypeDao.GetProTypeById"></association> -->
<!--  </resultMap> -->

<delete id="deleteOrder" parameterType="int">
delete from myshop_order where order_did = #{value}
</delete>
<select id="getOrder" parameterType="java.util.Map" resultMap="Myshop_orderMap">
select * from myshop_order <where>
<if test="order_status!=null">
and order_status = ${order_status}
</if>
<if test="payment_status!=null">
and payment_status = ${payment_status}
</if>
<if test="distribution_state!=null">
and distribution_state = ${distribution_state}
</if>
<if test="pay_way!=null">
and pay_way = ${pay_way}
</if>
<if test="distribution_mode!=null">
and distribution_mode = ${distribution_mode}
</if>
</where>
</select>

<select id="getById" resultMap="Myshop_orderMap" parameterType="int">
select * from myshop_order where order_did = #{value}
</select>

</mapper>