<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper  namespace="com.mapper.PbraDao">
      <select id="getById" parameterType="int" resultType="Pbra">
      select * from myshop_pbra where pbid=#{pbid}
      </select>
       <select id="findAll"   resultType="Pbra">
      select * from myshop_pbra
        </select>
      </mapper>