<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper  namespace="com.mapper.PimgDao">
  <select id="getById"  resultType="Pimg" parameterType="int">
     select  *  from  myshop_pimg  where pid=#{pid}
  </select>
  <select id="getByPbid"  resultType="Pimg" parameterType="int">
     select  *  from  myshop_pimg  where pimgid=#{pimgid}
  </select>
     <delete id="delPi" parameterType="int" >
   delete from myshop_pimg where pimgid=#{pimgid}
   </delete>
   
   <insert id="inpi" parameterType="Pimg" >
     <selectKey resultType="int" order="AFTER" keyProperty="pimgid">
          SELECT LAST_INSERT_ID()
      </selectKey>
   insert into myshop_pimg(purl) values(#{purl})
   </insert>
</mapper>