<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ProductDao">
	<resultMap type="Product" id="ProductMap">
		<result property="pid" column="pid" />
		<result property="pname" column="pname" />
		<result property="pprize" column="pprize" />
		<result property="pdes" column="pdes" />
		<result property="pscre" column="pscre" />
		<association property="ptid" column="ptid"
			select="com.mapper.PtypeDao.getById" />
		<association property="pimg" column="pimg"
			select="com.mapper.PimgDao.getById" />
		<association property="pbid" column="pbid"
			select="com.mapper.PbraDao.getById" />
	</resultMap>
	<select id="findAll" resultMap="ProductMap" parameterType="java.util.Map">
		select * from myshop_product
		<where>
			<if test="qname!=null">
				and pname like '%${qname}%'
			</if>
			<if test="qtype!=null">
				and ptid in( select ptid from myshop_ptype where ptname
				like
				'%${qtype}%')
			</if>
			<if test="pcid>0">
				and pimg=#{pimg}
			</if>
			<if test="pbid>0">
				and pbid=#{pbid}
			</if>
			<if test="ptid>0">
				and ptid=#{ptid}
			</if>
			<if test="pscre!=null&amp;pscre!=''">
				and pscre=#{pscre}
			</if>
			</where>
	</select>
	<delete id="delPro" parameterType="int">
		delete from myshop_product
		where pid=#{pid}
	</delete>
	 <insert id="save"  parameterType="Product">
      insert into myshop_product(pimg,pname,pprize,pcount,ptid,pbid,pdes,pscre) values(#{pimg.pimgid},#{pname},#{pprize},#{pcount},#{ptid.ptid},#{pbid.pbid},#{ pdes},#{pscre})
    </insert>
</mapper>