<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper  namespace="com.mapper.PtypeDao">
      <select id="getById"  parameterType="int" resultType="Ptype">
      select * from myshop_ptype where ptid=#{ptid}
      </select>
       <select id="findAll" resultType="Ptype">
      select * from myshop_ptype
      </select>
       <update  id="uppt"  parameterType="Ptype"  >
        update myshop_ptype set ptname=#{ptname} where ptid=#{ptid}
        </update>
        <insert  id="inpt" parameterType="Ptype">
        insert into myshop_ptype(ptname) values(#{ptname})
        </insert>
         <delete  id="delpt" parameterType="int">
        delete from myshop_ptype where ptid=#{ptid}
        </delete>
      </mapper>
