<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.mapper.StateDao">
 <select id="listAll" resultType="com.bean.State">
 select * from myshop_state
 </select>
 <select id="getById" resultType="State" parameterType="int">
  select * from myshop_state where state_id=#{value}
 </select>
 </mapper>